rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que qualquer pessoa leia os arquivos.
    // Isso é necessário para que as imagens (logos, capas de curso) possam ser exibidas publicamente no site.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null; // Apenas usuários autenticados podem escrever
    }
  }
}
